.container.d-flex.align-items-center.justify-content-center.vh-100
  .card.w-50
    .align-items-center.p-3
      %h1.text-center Sign up for HelpZone 
      = render 'form'
      = link_to 'Back to login', users_path
