%p ===================================================================
%p Please do not alter or remove content below this line when replying
%p ===================================================================

%p
  Reply from 
  %strong= @comment.author 
  %span=":"
%p= @comment.body

%br
%p="Ticket ID: <start_id>#{@comment.ticket.id}<end_id>"
