.container.d-flex.align-items-center.justify-content-center
  .card.w-50
    .align-items-center.p-3
      %h1.text-center New organization
      = render 'form'
      = link_to 'Back', organizations_path
