.container.d-flex.align-items-center.justify-content-center.vh-100
  .card.w-50
    .align-items-center.p-3
      %h3.text-center.text-info HelpZone
      %h5.text-center Login

      = render 'form'
      = link_to "Register", new_user_path, class: "text-secondary"
